* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Poppins", sans-serif;
}

header {
  height: 70px;
  width: 100vw;
  background: black;
  box-shadow: 1px 4px 50px 3px rgba(0, 0, 0, 0.4);
}

.container {
  max-width: 80rem;
  margin: auto;
}

.banner {
  width: 100%;
  object-fit: contain;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

ul {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 40px;
}

.link__menu {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  transition: 0.2s;
}

.link__menu:hover {
  border-bottom: 1px solid white;
}

.main {
  width: 100vw;
  padding: 60px 0;
}

.hero {
  width: 100%;
  height: 342px;
  display: block;
}

.gap-50 {
  gap: 50px;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

.gap-15 {
  gap: 15px;
}

.gap-40 {
  gap: 40px;
}

.category__title {
  font-size: 40px;
  color: #f2d64b;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #000000;
  border: none;
}

.card {
  width: 255px;
  height: 384px;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  padding: 15px;
  transition: 0.5s;
}

.img-pet {
  min-height: 255px;
  min-width: 255px;
  max-width: 255px;
  max-height: 255px;
  border-radius: 15px;
  object-fit: cover;
}

.call-to-action {
  height: 44px;
  width: 100%;
  background: white;
  border: 1px solid #d1d1d1;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s;
}

.padding-5 {
  padding: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.m-auto {
  margin: auto;
}

.h-half {
  height: 50%;
}

.justify-center {
  justify-content: center;
}

.call-to-action:hover {
  transform: scale(1.05);
  border: 3px solid #f2d64b;
  background: black;
  color: #f2d64b;
}

.call-to-action:hover::after {
  content: " ❤️";
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 1px 4px 50px 3px rgba(0, 0, 0, 0.4);
}

.footer {
  height: 60px;
  background: black;
  color: white;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 80px;
  }

  .cards {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .main {
    padding: 5px 0;
  }
  .gap-50 {
    gap: 20px;
  }
  .cards {
    gap: 25px;
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 50px;
  }
  .hero {
    height: 250px;
  }
}

@media (max-width: 576px) {
  .logo {
    transform: scale(0.65);
  }
  .hero {
    display: none;
  }

  .main {
    padding: 35px 0;
  }

  .cards {
    padding: 25px 0;
  }

  .container {
    margin: 0 8px;
  }

  .gap-50 {
    gap: 5px;
  }
  .copy {
    transform: scale(0.75);
  }
  .category__title {
    font-size: 30px;
  }
  .call-to-action {
    height: 65px;
  }
  .info-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  li {
    display: none;
  }
}
